.study-page {
    display: flex;
    padding: 150px 190px 0px 190px;
  
    .study-main-content {
      flex: 1;
      padding: 20px;
      background-color: #FAF7F5;
      height: 800px;
    }
    
  }
  
  
  
  