.study-sidebar {
    background-color: white;
    padding: 35px;
    width: 300px;
    margin: 0px 0px 0px 0px;
    color: black;
    font-family: 'HSBombaram3.0_Thin', sans-serif;

    .study-sidebar-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        background-color: #775A45;
        border-radius: 10px;
        margin-bottom: 10px;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 36px;
            
            a {
                color: white;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }

    nav {
        .study-sidebar-category {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            text-align: center;
            border: 1px solid #775A45;
            border-radius: 10px;
            overflow: hidden;

            li {
                font-size: 20px;
                position: relative; // 가상 요소의 기준점
                transition: all 0.3s ease;

                &:not(:last-child)::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 7%; // 왼쪽에서 10% 떨어진 지점에서 시작
                    width: 85%; // 전체 너비의 80%만 사용
                    height: 1px;
                    background-color: #775A45;
                }

                &.active {
                    background-color: #EFE2D8;
                    font-weight: bold;
                }

                &:hover {
                    background-color: #EFE2D8;
                }

                a {
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: #775A45;
                }
            }
        }
    }

    img {
        height: 283px;
        border-radius: 10px;
        margin-top: 20px;
    }





}