aside {
  background-color: #775A45;
  color: white;
  padding: 35px;
  width: 300px;
  border-radius: 30px;
  margin: 30px 100px 0px 100px;
}

.category {
  width: 220px;
  border-bottom: 1px solid white;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.image-class {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.recent {
  display: flex;
  justify-content: space-between;
  width: 220px;
  border-bottom: 1px solid white;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.view_all {
  color: white;
  font-size: 15px;
}

.recent-ul {
  list-style-type: none;
}

.recent-ul li {
  width: 220px;
  height: 60px;
  align-content: center;
  border-bottom: 1px solid white;
}

.chakra-tabs__tab {
  cursor: pointer;
}

/*-----------------------------------------------*/
.recent-ul {
  height: 179px;
}

.recent-ul li {
  cursor: pointer;
  padding: 10px;;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  white-space: nowrap;          /* 텍스트를 한 줄로 표시 */
  overflow: hidden;             /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis;      /* 넘치는 텍스트는 '...'으로 표시 */
  box-sizing: border-box;       /* 패딩 포함한 크기 계산 */
}

.recent-ul li:hover {
  background-color: #5e4536; /* Darker shade of the main background color */
  color: #e6e6e6; /* Lighten the text color */
}

.recent-ul li::after {
  content: '→';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  color: #e6e6e6; /* Lighten the arrow color */
  transition: opacity 0.3s ease, right 0.3s ease;
}

.recent-ul li:hover::after {
  opacity: 1;
  right: 15px; /* Slight movement to the right on hover */
}
/*-----------------------------------------------*/

.recent-ul-no {
  display: flex;
  height: 179px;
  justify-content: center;
  align-items: center;
}
