.comm-form-container {
    margin: 0 auto;
    border-radius: 10px;
    .comm-form-wrap{
        max-width: 1224px;
        .comm_h1 {
            font-family: 'HSBombaram3.0_Thin', sans-serif;
            font-size: 40px;
            margin-bottom: 10px;
            color: #775A45;
        }
        .comm-input-box{
            .comm-input-group {
                display: flex;
                margin-bottom: 15px;
                align-content: center;
            
                .comm-write-title {
                    text-align: center;
                    width: 90px;
                    margin-right: 10px;
                    padding-top: 3px;
                    background-color: #775A45;
                    border-radius: 10px;
                    font-size: 24px;
                    color: white;
                }
            
                #comm-title, #comm-content {
                    width: 1124px;
                    padding: 10px;
                    border: 1px solid #775A45;
                    border-radius: 10px;
                }
            
                .quill-editor {
                    width: 1224px;
                    height: 353px;
                    resize: vertical;
                }
            }
        }
    
        .comm-list-write-btn{
            display: flex;
            margin-top: 20px;
            .comm-link-btn {
                background-color: #BA9F8B;
                color: white;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 16px;
                display: block;
                margin: 0;
            
                &:hover {
                    background-color: darken(#BA9F8B, 10%);
                }
            }
            .comm-submit-button {
                background-color: #FF994F;
                color: white;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 16px;
                display: block;
                margin: 0 auto;
            
                &:hover {
                    background-color: darken(#FF994F, 10%);
                }
            }
        }
    }
  }
  .quill-editor {
    max-height: 500px;
    overflow: auto;
  }