.comm-commouncements {
  max-width: 50vw;
  min-width: 717px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  
  .comm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #775A45;
    padding-bottom: 10px;
    
    .comm_h1 {
      font-family: 'HSBombaram3.0_Thin', sans-serif;
      font-size: 40px;
      margin-bottom: 10px;
      color: #775A45;
    }
    
    .comm-header-buttons {
      .comm-modify, .comm-delete, .comm-list {
        padding: 5px 10px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        
        &.comm-list {
          padding: 8px 21px;
          background-color: #A48975;
          color: white;
          &:hover {
              background-color: darken(#A48975, 10%);
          }
        }

        &.comm-modify {
          padding: 8px 11px;
          background-color: #A48975;
          color: white;
          &:hover {
              background-color: darken(#A48975, 10%);
          }
        }
        
        &.comm-delete {
          background-color: #AB4800;
          color: white;
          &:hover {
              background-color: darken(#AB4800, 10%);
          }
        }
      }
    }
  }
  .comm-article-box {
    margin-top: 20px;
    .comm-article-header {
      border-bottom: 1px solid #775A45;
      .comm-article-meta {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: #666;
          margin-bottom: 10px;
          .comm-img-auth-loc-box {
              display: flex;
              .comm-article-profile-img {
                  width: 42px;
                  height: 42px;
                  background-color: #ccc;
                  border-radius: 20%;
              }
              .comm-auth-loc-box {
                  display: flexbox;
                  margin-left: 10px;
                  .comm-author, .comm-location {
                      display: flexbox;
                      margin-right: 16px;
                  }
                  .comm-author {
                      font-size: 16px;
                      font-weight: 700;
                  }
                  .comm-location {
                      font-size: 11px;
                  }
              }
          }
          .comm-date-hits-box {
              .comm-date, .comm-hits {
                  margin-right: 16px;
                  font-size: 11px;
              }
          }
        }
        .comm-article-h2 {
          font-size: 27px;
          margin-bottom: 15px;
        }
    }
    .comm-article-content {
      line-height: 1.6;
      border-bottom: 1px solid #D7BAA5;
      padding: 20px 0px;
    }
    .com-article-aicontentsummary {
      min-height: 100px;
      border-bottom: 1px solid #775A45;
      .com-aicontentsummary-title {
        font-family: 'HSBombaram3.0_Thin', sans-serif;
        font-size: 20px;
        margin: 10px 0px 10px 10px;
      }
      .com-aicontentsummary{

        margin-left: 10px;
      }
    }
  }


  .comm-comments {
    
    .comm-comment {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #775A45;
      .comm-comment-img {
          width: 40px;
          height: 40px;
          background-color: #ccc;
          flex-shrink: 0; // 이미지 크기 유지
          border-radius: 20%; // 선택적: 원형 이미지
          margin-right: 10px; // 이미지와 텍스트 사이 간격
      }
      .comm-commenter-box {
          display: flexbox;
          .comm-commenter {
              font-weight: bold;
              margin-bottom: 5px;
          }
      }
    }
  }
  
  .comm-reply-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .comm-reply-img {
          width: 40px;
          height: 40px;
          background-color: #ccc;
          flex-shrink: 0; // 이미지 크기 유지
          border-radius: 20%; // 선택적: 원형 이미지
          margin-right: 10px; // 이미지와 텍스트 사이 간격
    }
    .comm-reply-input {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #775A45;
      border-radius: 5px;
    }
    
    .comm-send-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #FF994F;
      flex-shrink: 0; // 이미지 크기 유지
      border: none;
      border-radius: 100%;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
          background-color: darken(#FF994F, 10%);
      }
      &::after {
        color: white;
      }
    }
  }
}