.info-form-container {
    margin: 0 auto;
    background-color: #FAF7F5;
    border-radius: 10px;
    .info-form-wrap{
        max-width: 1024px;
        .info_h1 {
            font-family: 'HSBombaram3.0_Thin', sans-serif;
            font-size: 40px;
            margin-bottom: 10px;
            color: #775A45;
        }
        .info-input-box{
            border-bottom: 1px solid #775A45;
            .info-input-group {
                display: flex;
                margin-bottom: 15px;
                align-content: center;
            
                .info-write-title {
                    text-align: center;
                    width: 90px;
                    margin-right: 10px;
                    padding-top: 3px;
                    background-color: #775A45;
                    border-radius: 10px;
                    font-size: 24px;
                    color: white;
                }
            
                #info-title, #info-content {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #775A45;
                    border-radius: 10px;
                }
            
                #info-content {
                    height: 350px;
                    resize: vertical;
                }
            }
        }
    
        .info-list-write-btn{
            display: flex;
            margin-top: 20px;
            .info-link-btn {
                background-color: #BA9F8B;
                color: white;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 16px;
                display: block;
                margin: 0;
            
                &:hover {
                    background-color: darken(#BA9F8B, 10%);
                }
            }
            .info-submit-button {
                background-color: #FF994F;
                color: white;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 16px;
                display: block;
                margin: 0 auto;
            
                &:hover {
                    background-color: darken(#FF994F, 10%);
                }
            }
        }
    }
  }