.info-infoouncements {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  
  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #775A45;
    padding-bottom: 10px;
    
    .info_h1 {
      font-family: 'HSBombaram3.0_Thin', sans-serif;
      font-size: 40px;
      margin-bottom: 10px;
      color: #775A45;
    }
    
    .info-header-buttons {
      .info-modify, .info-delete, .info-list {
        padding: 5px 10px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        
        &.info-list {
          padding: 8px 21px;
          background-color: #A48975;
          color: white;
          &:hover {
              background-color: darken(#A48975, 10%);
          }
        }

        &.info-modify {
          background-color: #A48975;
          color: white;
          &:hover {
              background-color: darken(#A48975, 10%);
          }
        }
        
        &.info-delete {
          background-color: #AB4800;
          color: white;
          &:hover {
              background-color: darken(#AB4800, 10%);
          }
        }
      }
    }
  }
  .info-article-box {
    margin-top: 20px;
    .info-article-header {
      border-bottom: 1px solid #775A45;
      .info-article-meta {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: #666;
          margin-bottom: 10px;
          .info-img-auth-loc-box {
              display: flex;
              .info-article-profile-img {
                  width: 42px;
                  height: 42px;
                  background-color: #ccc;
                  border-radius: 20%;
              }
              .info-auth-loc-box {
                  display: flexbox;
                  margin-left: 10px;
                  .info-author, .info-location {
                      display: flexbox;
                      margin-right: 16px;
                  }
                  .info-author {
                      font-size: 16px;
                      font-weight: 700;
                  }
                  .info-location {
                      font-size: 11px;
                  }
              }
          }
          .info-date-hits-box {
              .info-date, .info-hits {
                  margin-right: 16px;
                  font-size: 11px;
              }
          }
        }
        .info-article-h2 {
          font-size: 27px;
          margin-bottom: 15px;
        }
    }
    .info-article-content {
      line-height: 1.6;
      border-bottom: 1px solid #775A45;
      padding: 20px 0px;
    }
  }


  .info-comments {
    
    .info-comment {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #775A45;
      .info-comment-img {
          width: 40px;
          height: 40px;
          background-color: #ccc;
          flex-shrink: 0; // 이미지 크기 유지
          border-radius: 20%; // 선택적: 원형 이미지
          margin-right: 10px; // 이미지와 텍스트 사이 간격
      }
      .info-commenter-box {
          display: flexbox;
          .info-commenter {
              font-weight: bold;
              margin-bottom: 5px;
          }
      }
    }
  }
  
  .info-reply-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .info-reply-img {
          width: 40px;
          height: 40px;
          background-color: #ccc;
          flex-shrink: 0; // 이미지 크기 유지
          border-radius: 20%; // 선택적: 원형 이미지
          margin-right: 10px; // 이미지와 텍스트 사이 간격
    }
    .info-reply-input {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #775A45;
      border-radius: 5px;
    }
    
    .info-send-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #FF994F;
      flex-shrink: 0; // 이미지 크기 유지
      border: none;
      border-radius: 100%;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
          background-color: darken(#FF994F, 10%);
      }
      &::after {
        color: white;
      }
    }
  }
}