.join-nagnae-container {
    font-family: 'HSBombaram3.0_세로쓰기전용_Vertical_Regular', sans-serif;
    background-image: url('../../images/나그네가입심플.jpg');
    background-position: top center;
    background-size: 1000px 100%; // 가로 1024px, 세로는 컨테이너의 100%로 설정
    background-repeat: no-repeat;
    width: 1000px;
    min-height: 1500px; // 원하는 최소 높이로 설정 (필요에 따라 조정 가능)
    margin: -10px auto;
    padding: 0px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInUp 0.8s ease-in-out;
  
    .form-content {
      padding: 40px;
      border-radius: 10px;
      width: 80%;
      max-width: 800px;
      margin-top: 180px;
      animation: fadeInUp 0.8s ease-in-out;
    }
  
    .join-title {
        text-align: center;
        color: #775A45;
        font-size: 48px;
        margin-bottom: -35px;
        margin-top: 65px;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        background-color: #f2e8e1;
        border: 5px solid #8c7a6b;
        border-radius: 100%;
        margin: 100px auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .picture-placeholder {
            color: #8c7a6b;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #f0f0f0;
            cursor: pointer;
            #file-upload {
                display: none;
            }
            .user-profile-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }



            span {
                color: #888;
            }
        }
        
        
    }


    .join-form-box {
        padding: 0px 100px;
        .input-row {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            .input-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .id-check-box {
                    justify-content: end;
                    .id-check-btn {
                        padding: 10px;
                        border-radius: 50px;
                        background-color: #8c7a6b;
                        color: white;
                        cursor: pointer;
                    }
                }
                input {
                    width: 80%;
                    padding: 10px;
                    border: none;
                    border-radius: 50px;
                    background-color: #f2e8e1;
                    font-size: 20px;
                }
                div {
                    width: 80%;
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;

                    input {
                        width: 50%;
                        margin-right: 10px;
                    }
                    select {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-color: white;
                        border: 1px solid #ccc;
                        border-radius: 50px;
                        padding: 8px 12px;
                        font-size: 20px;
                        color: #333;
                        cursor: pointer;
                        outline: none;
                        width: 45%; /* 원하는 너비로 조정 */
                      }
                      
                      /* 화살표 아이콘 스타일링 (선택사항) */
                      select::-ms-expand {
                        display: none;
                      }
                      
                      select::after {
                        content: '\25BC';
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;
                      }
                }
                .error-message {
                    color: #ff0000;
                    font-size: 14px;
                    margin-top: 5px;
                    width: 80%;
                    text-align: left;
                }
            }
        }
        .create-account-btn-box{
            display: flex;
            justify-content: center;
            margin-top: 140px;
            .create-account-btn {
                width: 70%;
                height: 60px;
                padding: 5px;
                border: 5px solid #8c7a6b;
                border-radius: 50px;
                background-color: white;
                color: #8c7a6b;
                cursor: pointer;
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
}
  
/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 480px) {
.join-nagnae-container {
    width: 90%;
    padding: 20px;
    }

    .input-row {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
        margin-bottom: 10px;
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }