.join-nagnae-container {
    font-family: 'HSBombaram3.0_세로쓰기전용_Vertical_Regular', sans-serif;
    background-color: #BA9F8B;
    border-radius: 100px;
    padding: 0px 100px 30px 100px;
    width: 600px;
    margin: 150px auto;
    text-align: center;
    .join-title {
        color: white;
        margin-bottom: 20px;
        font-size: 64px;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        background-color: #f2e8e1;
        border-radius: 100%;
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .picture-placeholder {
            color: #8c7a6b;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #f0f0f0;
            cursor: pointer;
            #file-upload {
                display: none;
            }
            .user-profile-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }



            span {
                color: #888;
            }
        }
        
        
    }


    .join-form-box {
        .input-row {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            .input-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 80%;
                    padding: 10px;
                    border: none;
                    border-radius: 50px;
                    background-color: #f2e8e1;
                    font-size: 20px;
                }
                div {
                    width: 80%;
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;

                    input {
                        width: 60%;
                        margin-right: 10px;
                    }
                    select {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-color: white;
                        border: 1px solid #ccc;
                        border-radius: 50px;
                        padding: 8px 12px;
                        font-size: 20px;
                        color: #333;
                        cursor: pointer;
                        outline: none;
                        width: 35%; /* 원하는 너비로 조정 */
                      }
                      
                      /* 화살표 아이콘 스타일링 (선택사항) */
                      select::-ms-expand {
                        display: none;
                      }
                      
                      select::after {
                        content: '\25BC';
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;
                      }
                }
                .error-message {
                    color: #ff0000;
                    font-size: 14px;
                    margin-top: 5px;
                    width: 80%;
                    text-align: left;
                }
            }
        }
        .create-account-btn {
            width: 70%;
            height: 60px;
            padding: 10px;
            border-radius: 50px;
            background-color: #8c7a6b;
            color: white;
            cursor: pointer;
            margin-top: 20px;
            font-size: 25px;
            font-weight: 600;
        }
    }
}
  
/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 480px) {
.join-nagnae-container {
    width: 90%;
    padding: 20px;
    }

    .input-row {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
        margin-bottom: 10px;
    }
}