.join-nagnae-container {
    font-family: 'HSBombaram3.0_세로쓰기전용_Vertical_Regular', sans-serif;
    background-color: #BA9F8B;
    border-radius: 100px;
    padding: 0px 100px 30px 100px;
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
  
.join-title {
    color: white;
    margin-bottom: 20px;
    font-size: 64px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #f2e8e1;
    border-radius: 100%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-placeholder {
    color: #8c7a6b;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group {
    width: 48%;
    justify-content: center;
}

.join-form-box input {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #f2e8e1;
    font-size: 20px;
}

.create-account-btn {
    width: 460px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    background-color: #8c7a6b;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 480px) {
.join-nagnae-container {
    width: 90%;
    padding: 20px;
    }

    .input-row {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
        margin-bottom: 10px;
    }
}