/* styles.css */
/* body, html {
    margin: 0;
    padding: 0;
    overflow-x: visible;
    font-family: Arial, sans-serif;
} */
 body {
  overflow: visible;
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulseText {
    from { text-shadow: 10px 5px 0px rgba(186, 159, 139, 100); }
    to { text-shadow: 15px 7px 0px rgba(186, 159, 139, 100); }
}

.contents {
    height: 300vh;
    overflow-x: hidden;
    position: relative; /* 필수: 내부에 절대 위치 요소를 올바르게 배치하기 위함 */
}

.screen-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.screen2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: transform 0.3s ease;
    background-color: #fff;
  }

.simple-introduce-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    animation: fadeIn 2s ease-out;
    z-index: 1; /* 캔버스 위에 표시되도록 설정 */
}

.simple-introduce-box2 {
    display: flex;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1; /* 캔버스 위에 표시되도록 설정 */
    position: fixed;
}

.si-1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
    animation: slideInFromLeft 1.5s ease-out;
}

.main-explanation-1 {
    display: flex;
    width: 90%;
    height: 375px;
    border-top: 2px solid #554235;
    border-bottom: 2px solid #554235;
    font-size: 2.1vw;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
    margin-top: 115px;
}

.main-explanation-1-1 {
    display: block;
    text-align: center;
    width: 35%;
    height: 100%;
    padding: 10px 70px 0px 70px;
}

.main-explanation-1-2 {
    display: block;
    width: 70%;
    height: 373px;
    padding: 10px 20px 0px 20px;
    font-family: 'HSBombaram3.0_Regular';
}

.main-explanation-1-2-big-writing {
    font-size: 3vw;
    color: #775A45;
}

.main-explanation-1-2-small-writing {
    font-size: 1.7vw;
    color: #BA9F8B;
}

.si-2 {
    font-size: 200px;
    color: white;
    font-family: 'HSBombaram3.0_세로쓰기전용_Vertical_Regular', sans-serif;
    text-shadow: 10px 5px 0px rgba(186, 159, 139, 100);
    animation: pulseText 3s infinite alternate;
}

.main-explanation-2 {
    display: flex;
    border-bottom: 2px solid #000000;
    width: 90%;
    height: 375px;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
}

.main-explanation-2-1 {
    display: block;
    text-align: center;
    width: 35%;
    height: 373px;
    padding: 10px 70px 10px 70px;
}

.main-explanation-2-2 {
    display: block;
    width: 70%;
    height: 373px;
    padding: 10px 20px 0px 20px;
    font-family: 'HSBombaram3.0_Regular';
}

.main-explanation-2-2-big-writing {
    font-size: 3vw;
    color: #775A45;
}

.main-explanation-2-2-small-writing {
    font-size: 1.7vw;
    color: #BA9F8B;
}

.start-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 50px;
    margin: 20px auto;
    background-color: #775A45;
    color: white;
    font-size: 36px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
}

.start-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transition: all 0.5s;
}

.start-btn2:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transition: all 0.5s;
}

.start-btn:hover:before {
    left: 100%;
}

.start-btn2:hover:before {
    left: 100%;
}

.start-btn:hover {
    background-color: #8B4513;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.start-btn2:hover {
    background-color: #8B4513;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.fade-element {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}
  
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-element2 {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}
  
.fade-in2 {
    opacity: 1;
    transform: translateY(0);
}

.fade-element3 {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
  
.slide-in {
    opacity: 1;
    transform: translateX(0%);
}

.screen3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: #fff;
    transform: translateY(0);
    /* 애니메이션을 위한 스타일을 여기 추가할 수 있습니다 */
}
  
.slide-in-content {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
