/* styles.css */
/* body, html {
    margin: 0;
    padding: 0;
    overflow-x: visible;
    font-family: Arial, sans-serif;
} */

@keyframes slideInFromLeft {
    from { transform: translateX(-100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulseText {
    from { text-shadow: 10px 5px 0px rgba(186, 159, 139, 100); }
    to { text-shadow: 15px 7px 0px rgba(186, 159, 139, 100); }
}

.contents {
    height: 200vh;
    overflow-x: hidden;
    position: relative; /* 필수: 내부에 절대 위치 요소를 올바르게 배치하기 위함 */
}

.screen-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.screen2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: transform 0.3s ease;
    background-color: #fff;
  }

.simple-introduce-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    animation: fadeIn 2s ease-out;
    z-index: 1; /* 캔버스 위에 표시되도록 설정 */
}

.simple-introduce-box2 {
    display: flex;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1; /* 캔버스 위에 표시되도록 설정 */
    position: fixed;
}

.si-1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
    animation: slideInFromLeft 1.5s ease-out;
}

.main-explanation-1 {
    border: 1px solid #000000;
    width: 1500px;
    height: 350px;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
    margin-top: 140px;
}

.main-explanation-1-1 {
    display: flex;
    width: 500px;
    height: 350px;
    border: 1px solid #000000;
    float: left;
}

.main-explanation-1-2 {
    display: block;
    width: 1000px;
    height: 350px;
    border: 1px solid #000000;
}

.si-2 {
    font-size: 200px;
    color: white;
    font-family: 'HSBombaram3.0_세로쓰기전용_Vertical_Regular', sans-serif;
    text-shadow: 10px 5px 0px rgba(186, 159, 139, 100);
    animation: pulseText 3s infinite alternate;
}

.main-explanation-2 {
    border: 1px solid #000000;
    width: 1500px;
    height: 350px;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'HSBombaram3.0_Thin', sans-serif;
    margin-top: 10px;
}



.start-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 50px;
    margin: 20px auto;
    background-color: #775A45;
    color: white;
    font-size: 36px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.start-btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 50px;
    margin: 20px auto;
    background-color: #775A45;
    color: white;
    font-size: 36px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.start-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transition: all 0.5s;
}

.start-btn2:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transition: all 0.5s;
}

.start-btn:hover:before {
    left: 100%;
}

.start-btn2:hover:before {
    left: 100%;
}

.start-btn:hover {
    background-color: #8B4513;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.start-btn2:hover {
    background-color: #8B4513;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.fade-element {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
  
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-element2 {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
  
.fade-in2 {
    opacity: 1;
    transform: translateY(0);
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
