.ann_postlist_wrap{
  h1 {
    font-size: 40px;
  }
  .ann-post-list {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    list-style-type: none;
  }
}
.post-list th, .post-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.post-list th {
  background-color: #f2f2f2;
}